@page "/Clientes"
@using Factura.Models
@inject HttpClient Http

<h3>Clientes</h3>

@if(clientes == null)
{
    <p><em>...Loading</em></p>
}

else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Correo</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Numero Contador</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in clientes)
           {
               <tr>
                   <td>@item.nombreCompleto</td>
                   <td>@item.correo</td>
                   <td>@item.direccion</td>
                    <td>@item.telefono</td>
                    <td>@item.numeroContador</td>
               </tr>
               
           }
        </tbody>
    </table>
}

@code {
    private List<Clientes> clientes;

    protected override async Task OnInitializedAsync() => clientes = await Http.GetFromJsonAsync<List<Clientes>>("api/Clientes/ListaCliente");
    
        
    

}
